@font-face {
    font-family: 'Laylin';
    src: url('Laylin.woff2') format('woff2'),
        url('Laylin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

